* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    overflow: hidden;
   
}

.a{
    color: #f5f1f1;
}
.center-container {
    background: linear-gradient(to top, rgba(36, 36, 36, 0.7), #000), 
                url("../assets/background.jpg") no-repeat center center/cover;
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    background-color: #141414; 
}
.custom-form {
    width: 100%;
    max-width: 320px;
    background: #1c1b1b;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
    text-align: center;
}
.custom-form h1{
    margin-bottom: 10px;
}
/* Input Field Styling */
.input-container {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.input-container label {
    position: absolute;
    top: 8px; 
    font-size: 12px;
    color: #555;
    background: white; 
    padding: 0 5px;
}

/* Styling for input field */
.input-container input {
    width: 100%;
    padding: 20px 10px 5px 10px; /* Adjusted top padding */
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 13px;
    outline: none;
}

/* Button Styling */
.custom-form button {
    width: 100%;
    padding:9px;
    background-color: rgb(229, 9, 20);
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 7px;
}

.custom-form button:hover {
    background-color: rgb(180, 10, 10);
}
.form-footer {
    display: flex;
    justify-content: space-between; /* Aligns items to left and right */
    align-items: center; /* Centers vertically */
    font-size: 14px;
    color: #b3b3b3;
    margin-top: 6px;
}

/* Styling for the checkbox */
.remember-me {
    display: flex;
    align-items: center;
}

.remember-me input {
    margin-right: 5px;
}

/* Styling for Need Help link */
.form-footer a {
    color: #b3b3b3;
    text-decoration: none;
}

.form-footer a:hover {
    text-decoration: underline;
}

.footercontent{

    align-items: center; /* Centers vertically */
    font-size: 14px;
    color: #b3b3b3;
    margin-top: 20px;
}
.footercontent a{
    color: #b3b3b3;
    text-decoration: underline;
}